<section class="TodoSection">
  <div class="TodoSectionTitle">
        <p class="TodoSectionTitle-text"><%= section_title %></p>
        <p class="TodoSectionTitle-remainingCount"> <%= todos.completed.count %> / <%= todos.count %> </p>
  </div>
  <ul>
      <% todos.each do |todo| %>
        <li class="TodoItem">
          <label class="TodoItem-Container">
            <input class="TodoItem-Checkbox" type="checkbox">
           <%= todo.todo_text %>
           <% if show_due_date %>
            <p class="TodoItem-duedateLabel"><%= todo.due_date.to_s(:short) %></p>
           <% end %>
           <a class="TodoItem-delete" href="#">
              <img width="20px" height="20px" src="trashcan.png" alt="delete todo">
           </a>
          </label>
        </li>
      <% end %>
  </ul>
</section>
